.container
{
    
    background-color: aquamarine;
    margin-top: 130px;
    min-height: 300px;
    
}
.card 
{
    background-color: grey;
      min-height: 50px;

}
.hidden 
{
    visibility: hidden;
    display: none;
}